
.body{
    height:100vh;
    background-color: #0000;
    background-image: url("../../Assets/bannerwo.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home_m{
  display: none;
}

.li{
    list-style: none;
    color: #fff;
}

.a{
    text-decoration: none;
    color: #fff;
    font-size: 1 rem;
    
}

a:hover{
    color: #fffd13;
}

.header{
    position: relative;
    padding: 0px 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    
}

.navbar.logo a 
{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    /* gap: 1rem; */
}

.logo{
    color: #fff;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action_btn:hover{
    scale: 1.15;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;
}

.dropdown_menu{
    display: none;
    position:absolute;
    /* right: 2rem; */
    top: 60px;
    width: 300px;
    height: 0px;
    background-color: rgba(255, 255, 255, 0.22);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 350px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Titillium Web';
}

.dropdown_menu .action_btn{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;


}



@media(max-width: 992px)
{
    .navbar .links,
    .navbar.action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    .action_btn{
        display: none;
    }
}

@media(max-width:576px)
{
    .dropdown_menu{
        left: 2rem;
        width: 80vw;
        font-size: 1.2rem;
    }

    
    
}

.logo{
  display: none;
}

.links{
    font-family: 'Titillium Web';
    text-transform: uppercase;
    font-weight: 600;
}

.links *{
    box-sizing: border-box;
    transition: all .35s ease;
}

.links li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0px;
}

.navbar{
  display: flex;
  justify-content:space-between;
  align-items:center;
}
.links a{
    padding: .5em .8em;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    text-decoration: none;
    font-size:20px;
}

.links a::before,.links a::after{
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.links a::before{
    content: '';
    right: 0px;
    top: 0px;
    border-top: 3px solid #3E8914;
    border-right: 3px solid #2E640F;
    transform: translate(-100%, 50%);
}

.links a:after{
  content: '';
  left: 0px;
  bottom: 0px;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%);
}

.links a:hover::after, .links a:hover::before{
    transform: translate(0,0);
    opacity: 1;
}

.links a:hover{
    color: #3DA35D;
}




.dbroubutton {
    position: relative;
    width: 11em;
    height: 4em;
    outline: none;
    transition: 0.1s;
    background-color: transparent;
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: #ddebf0;
  }
  
  #clip {
    --color: #2761c3;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 5px double var(--color);
    box-shadow: inset 0px 0px 15px #195480;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    cursor: pointer;
  }
  
  .arrow {
    position: absolute;
    transition: 0.2s;
    background-color: #2761c3;
    top: 35%;
    width: 11%;
    height: 30%;
  }
  
  #leftArrow {
    left: -13.5%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
  }
  
  #rightArrow {
    -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
    left: 102%;
  }
  
  .dbroubutton:hover #rightArrow {
    background-color: #27c39f;
    left: -15%;
    animation: 0.6s ease-in-out both infinite alternate rightArrow8;
  }
  
  .dbroubutton:hover #leftArrow {
    background-color: #27c39f;
    left: 103%;
    animation: 0.6s ease-in-out both infinite alternate leftArrow8;
  }
  
  .corner {
    position: absolute;
    width: 4em;
    height: 4em;
    background-color: #2761c3;
    box-shadow: inset 1px 1px 8px #2781c3;
    transform: scale(1) rotate(45deg);
    transition: 0.2s;
  }
  
  #rightTop {
    top: -1.98em;
    left: 91%;
  }
  
  #leftTop {
    top: -1.96em;
    left: -3.0em;
  }
  
  #leftBottom {
    top: 2.10em;
    left: -2.15em;
  }
  
  #rightBottom {
    top: 45%;
    left: 88%;
  }
  
  .dbroubutton:hover #leftTop {
    animation: 0.1s ease-in-out 0.05s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  .dbroubutton:hover #rightTop {
    animation: 0.1s ease-in-out 0.15s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  .dbroubutton:hover #rightBottom {
    animation: 0.1s ease-in-out 0.25s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  .dbroubutton:hover #leftBottom {
    animation: 0.1s ease-in-out 0.35s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  .dbroubutton:hover .corner {
    transform: scale(1.25) rotate(45deg);
  }
  
  .dbroubutton:hover #clip {
    animation: 0.2s ease-in-out 0.55s both greenLight8;
    --color: #27c39f;
  }
  
  @keyframes changeColor8 {
    from {
      background-color: #2781c3;
    }
  
    to {
      background-color: #27c39f;
    }
  }
  
  @keyframes lightEffect8 {
    from {
      box-shadow: 1px 1px 5px #27c39f;
    }
  
    to {
      box-shadow: 0px 0px 2px #27c39f;
    }
  }
  
  @keyframes greenLight8 {
    from {
    }
  
    to {
      box-shadow: inset 0px 0px 32px #27c39f;
    }
  }
  
  @keyframes leftArrow8 {
    from {
      transform: translate(0px);
    }
  
    to {
      transform: translateX(10px);
    }
  }
  
  @keyframes rightArrow8 {
    from {
      transform: translate(0px);
    }
  
    to {
      transform: translateX(-10px);
    }
  }
  

  
@media(max-width: 992px)
{
   

    #btnwin{
        display: none;
    }


    /* .navbar{
      display: flex;
      justify-content: flex-end;
    } */

}

.body {
  position: relative;
}

.body::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}


@media(max-width:450px){
  .body{
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 95vh;
    width: 100vw;
    background-image: url(../../Assets/LPMV/Landing_mobile_bg.png);
    background-position: 50% 50%;
  }
  .navbar{
    display: none;
  }
  .header{
    display: none;
  }
  .home_m{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    color: yellow;
  }
  .home_m_top_left{
    color: rgb(255, 255, 0);
    position: absolute;
    top:20px;
    left: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    
  }
  .home_m_top_left h3{
    font-size: 20 px;
    letter-spacing: 1px;
    font-family: "Barlow Condensed", sans-serif;
  }
  .home_m_top_left p{
    color: white;
    font-size: 9px;
    letter-spacing: 1px;
    font-family: "Barlow Condensed", sans-serif;
    
  }
  .home_m_logo{
    position: absolute;
    right:1px;
    top: 1px;
  }
  .home_m_logo img{
    height: 100px;
  }
  .home_m_banner{
    display: grid;
    place-items: center;
  }
  .home_m_banner img{
    height: 280px;
    width: 350px;
    object-fit: cover;
    object-position: center;
  }
  .home_m_buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .home_m_buttons button{
    font-weight:600;
    padding: 8px 15px;
    color: black;
    background-color: yellow;
    border: solid 2px black;
    border-radius: 4px;
    letter-spacing: 2px;
  }
  .home_m_info{
    opacity: 100%;
    width:320px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: solid 2px rgb(255, 255, 0);
    padding: 10px 15px;
    border-radius:20px;
  }
  .home_m_info p{
    font-size: 10px;
    color: white;
    letter-spacing: 1px;
  }
  .home_m_info h4{
    text-align: center;
    letter-spacing: 1px;
  }
  .home_m_info h5{
    font-size: 15px;
    color: white;
    text-align: center;
  }
  .home_m_links{
    margin-top: 30px;
    display: flex;
    gap: 30px;
  }
  .home_m_links i{
    border-radius: 100%;
  }
  .home_m_links div{
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    font-size: 30px;
    background-color: #ffffff26;
    border-radius: 100%;
  }
}